@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    
    background: linear-gradient(to right, #000, #79cb15);
}

.container-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #79cb15;
    border: none;
    border-radius: 5px;
    color: #000000;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 135px;
    box-shadow: -4px 5px 0 #00FF00;
}

button:hover {
    opacity: 0.8;
}

ul { 
    margin-top: 100px;
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 50px;
    justify-content: center;
}

li {
    border: 2px solid;
    box-shadow: 0px 0px 15px #00FF00, 0px 0px 10px #08ec08;
    border-radius: 5px;
    padding: 5px;
}

img {
    width: 100%;
    border-radius: 5px;
}

p {
   color: #ffffff; 
}

.item-price {
    font-weight: bold;
    color: #79cb15;
}